body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E3E1E4;
    color: #252425;
    margin: 0px;
    display: grid;
    grid-template-columns: 370px auto;
    grid-template-rows: auto;
    margin: 2px;

}

aside {
    background-color: #C6B2AB;
    padding: 0px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    background-color: #E3E1E4;
    color: #383546;
    padding: 0 40px;
}

#profile-picture-container {
    background: url("./images/profile.jpeg") no-repeat center center;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    margin: 2rem 0;
}

h1 {
    color: #383546;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: xxx-large;
    margin-block-end: auto;

}

#jobtitle {
    border: 2px solid #252425;
    color: #252425;
    width: 30%;
    padding: 5px 0px;
    text-align: center;
    align-self: center;
    font-size: large;
    margin: 2rem 0;
}

#contact,
#aboutme {
    align-self: flex-start;
    padding: 0px 25px;
    width: 100%;
    box-sizing: border-box;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact img {
    width: 30px;

}

#contact a {
    margin-right: 10px;
}

h2 {
    font-style: bold;
}

aside h2 {
    border: 2px solid #252425;
    color: #252425;
    align-self: center;
    justify-self: center;
    text-align: center;
}

section h2 {
    border-bottom: 4px solid #383546;
}

section ul {
    list-style-type: none;
    padding: 0px;
}

section li {
    padding: 10px 0px;
}

section h3,
section h4,
section p {
    margin: 5px 0px;
}

/*This is a comment */